{% extends 'base.html' %}

{% block title %} Login {% endblock title %}

{% block content %}
<!-- 
Form
-->
<div class="container mt-5">
  <div class="row justify-content-center ">
      <div class="col-lg-4 border rounded-2">
          <h2 class="mb-5 mt-3 text-center">Login</h2>
          <form method="post">
            {% csrf_token %}
              {% for field in form %}
                {% if field.errors %}
                  <div class="mb-3">  
                    <label for="{{field.name}}" class="form-label d-block">{{field.name}}</label>
                    {{field}}
                    <p>{{field.errors}}</p>
                  </div>
                {% else %}
                  <div class="mb-3">  
                    <label for="{{field.name}}" class="form-label d-block">{{field.name}}</label>
                    {{field}}
                  </div>
                {% endif %}
              {% endfor %}
              <div class="mb-3">
                <p>Have no account?  <a href="{% url 'authentication:register' %}">Sigin up</a></p>
              </div>
              <button type="submit" class="btn btn-primary mb-3">Submit</button>
            </form>
      </div>
  </div>
</div>
<!-- script -->
 <script>
  const username = document.querySelector('input[name=username]').className='form-control';
  const password = document.querySelector('input[name=password]').className='form-control';
  
 </script>
{% endblock content %}