{% extends 'base.html' %}

{% block title %} Update {{product.name}} {% endblock title %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-lg-4 border rounded-2">
            <h2 class="mb-5 mt-3 text-center"> Product</h2>
            <form method="post">
                {% csrf_token %}
                  {% for field in form %}
                    {% if field.errors %}
                      <div class="mb-3">  
                        <label for="{{field.name}}" class="form-label d-block">{{field.name}}</label>
                        {{field}}
                        <p>{{field.errors}}</p>
                      </div>
                    {% else %}
                      <div class="mb-3">  
                        <label for="{{field.name}}" class="form-label d-block">{{field.name}}</label>
                        {{field}}
                      </div>
                    {% endif %}
                {% endfor %}
                <a type="" class="btn btn-outline-danger mb-3" href="{% url 'products:product-list' %}">Back</a>
                <button type="submit" class="btn btn-outline-success mb-3">Edit</button>
              </form>
        </div>
    </div>
</div>

{% endblock content %}